site_name: Bayesian Optimization as a Coverage Tool for Evaluating LLM
theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/logo.svg
  icon:
    repo: material/github
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
  palette: 
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

edit_uri: ""
site_url: https://bocoel.pages.dev
repo_name: rentruewang/bocoel
repo_url: https://github.com/rentruewang/bocoel
plugins:
  - search
  - social
  - tags
  - minify:
      minify_html: true
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_root_heading: true
            inherited_members: true
            filters: null
            # show_if_no_docstring: true
            members_order: source
            docstring_style: 
            merge_init_into_class: true
            show_signature_annotations: true
            signature_crossrefs: true
            separate_signature: true
            summary: true
            line_length: 80

  - git-revision-date
  - git-revision-date-localized
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/rentruewang
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/bocoel/
nav:
  - Home:
    - README: index.md
    - Paper: paper.md
  - Reference:
    - references/overview.md
    - references/storages.md
    - references/indices.md
    - references/embedders.md
    - references/corpora.md
    - references/scores.md
    - references/adaptors.md
    - references/lms.md
    - references/optimizers.md
    - references/exams.md
    - CHANGELOG.md
  - Contributing:
    - Thank you: thanks.md
    - Contributing: CONTRIBUTING.md
    - Code of Conduct: CODE_OF_CONDUCT.md
markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets
